<div ng-controller="PostRevenueCtrl">
	<ol class="breadcrumb">
		<li><a href="#" ng-click="navigate('home')">Home</a></li>
		<li><a href="#" ng-click="navigate('post')">Revenues</a></li>
		<li class="active">Post Revenue</li>
	</ol><br />
	
	<h1 class="page-header">Post Revenue</h1>
	
  <form ng-submit="postRevenue()">
    <h4>When did this transaction occur?</h4>
    <div style="display:inline-block; min-height:290px;">
      <datepicker ng-model="rev.date" max-date="maxDate" show-weeks="true" class="well well-sm" style="margin:10px"></datepicker>
      <button align="right" class="btn btn-block btn-success" type="submit" ng-click="today()">Today</button>
    </div><br /><br />

    <h4>How much did you make? (The value of the stuff received)</h4>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="number" class="form-control" placeholder="Amount" required ng-model="rev.amount" data-toggle="tooltip">
    </div><br />

    <h4>What did you receive?</h4>
    <select required class="form-control" ng-model="rev.debit">
      <option value=""></option>
      <option ng-repeat="asset in assets" value="{{asset[0]}}">{{asset[1]}}</option>
    </select><br />

    <h4>How was it earned?</h4>
    <select required class="form-control" ng-model="rev.credit">
      <option value=""></option>
      <option ng-repeat="account in accounts" value="{{account[0]}}">{{account[1]}}</option>
    </select>
    <hr>
    <button align="right" class="btn btn-lg btn-primary" type="submit">Submit</button>
  <form>
</div>
