<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Hello there!</h1>
		<p>To review the current financials, please click below!</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click="navigate('reports')">Financial Details &raquo;</a></p>
	</div>
</div>

<div class="container">
<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Record Revenue</h2>
			<p>Made money? Record it here!</p>
			<p><a class="btn btn-default" href="#" role="button" ng-click="navigate('posting')">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Record Expenses</h2>
			<p>Spent money on something? Record it here.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Other Items</h2>
			<p>Doesn't fit into the other two? Here!</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>